@import "tailwindcss";
@plugin '@tailwindcss/typography';


:root {
  --foreground: #ffffff;
  --blue: #09367a;
  --grayblue: #476293;
  --darkblue: #08295c;
  --gray: #8392ad;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--gray);
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
}
main{
  border-style: hidden solid solid solid;
  border-width: 1px;
  border-color: var(--darkblue);
  padding: 0 20px;
  margin-top: -10px;
}
body {
  background: var(--background);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
  /* border-style: hidden solid solid solid;
  border-width: 1px;
  border-color: var(--grayblue); */
}
article, .content{
  padding-top: 68px;
}
header{
  background: var(--darkblue);
  /* padding: 10px 25px; */
  border-radius: 10px;
  box-shadow: 0 6px 10px var(--grayblue);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon{
  border-radius: 10px;
  margin-left: 5px;
  /* width: 40px; */
  height: 40px; 
  box-shadow: 0 4px 4px rgb(131, 146, 173, .25);
}
nav{
  /* background: var(--darkblue); */
  display: flex;
  justify-content: flex-end;
  align-content: space-around;
  gap:24px;
  padding: 14px 20px;
  /*border-radius: 0px 0px 10px 10px;
  margin-bottom: 48px; */
  
}
.all_post{
  display:flex;
  flex-direction: column;
  gap: 20px;
}
.post{
  border: 1px solid var(--darkblue);
  box-shadow: 4px 4px 4px var(--grayblue);
  border-radius: 10px;
  display:flex;
  /* flex-direction: column; */
  gap: 20px;
  /* margin: 10px; */

}
.blog_summary{
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.blog_title{
  font-size: 24px;
  font-weight: bold;
  line-height: 130%;
}
.blog_image{
  border-radius: 9px 0 0 10px;
}
.tag{
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--grayblue);
}
.blog_description{
  line-height: 150%;
  letter-spacing: -0.2px;
}
.blog{
  max-width: 720px;
  /* width: 720px;
  margin-left: auto;
  margin-right: auto; */

}
