@import "tailwindcss";
@plugin '@tailwindcss/typography';


:root {
  --foreground: #ffffff;
  --blue: #09367a;
  --grayblue: #476293;
  --darkblue: #08295c;
  --gray: #8392ad;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--gray);
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
}
main{
  border-style: hidden solid solid solid;
  border-width: 3px;
  border-color: var(--darkblue);
  padding: 0 20px;
  margin-top: -10px;
}
body {
  background: var(--background);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
  /* border-style: hidden solid solid solid;
  border-width: 1px;
  border-color: var(--grayblue); */
}
article, .content{
  padding-top: 68px;
  margin-bottom: 20px;
}
header{
  background: var(--darkblue);
  /* padding: 10px 25px; */
  border-radius: 10px;
  box-shadow: 0 6px 10px var(--grayblue);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon{
  border-radius: 10px;
  margin-left: 5px;
  /* width: 40px; */
  height: 40px; 
  box-shadow: 0 4px 4px rgb(131, 146, 173, .25);
}
nav{
  /* background: var(--darkblue); */
  display: flex;
  justify-content: flex-end;
  align-content: space-around;
  gap:24px;
  padding: 14px 20px;
  /*border-radius: 0px 0px 10px 10px;
  margin-bottom: 48px; */
  
}
.all_post{
  display:flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
.post{
  border: 1px solid var(--darkblue);
  box-shadow: 4px 4px 4px var(--grayblue);
  border-radius: 10px;
  display:flex;
  /* flex-direction: column; */
  gap: 20px;
  /* margin: 10px; */

}
.blog_summary{
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.blog_title{
  font-size: 24px;
  font-weight: bold;
  line-height: 130%;
  color: var(--blue)
}
.blog_image{
  border-radius: 9px 0 0 10px;
  /* height: 50%; */
  /* width: 35%; */
}
.tag{
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--grayblue);
}
.blog_description{
  line-height: 150%;
  letter-spacing: -0.2px;
}
.blog{
  max-width: 99%;
  
}
.all_tags{
  display: flex;
  justify-content: center;
  color: var(--blue);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  gap: 10px;
  margin-bottom: 25px;
  li{
    border: 1px solid var(--blue);
    background-color: var(--blue);
    color: white;
    border-radius: 5px;
    padding: 5px;
  }
}
.back_button{
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
}
.arrow{
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
}

h1{
  padding-top: 20px;
  color: var(--darkblue)
}
.welcome{
  color:white;
  article{
    margin-bottom: 50px;
    max-width: 99%;
  }
  margin-bottom: 20px;

}
.latest_blog{
  color: var(--blue);
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 30px;
}
.view_all{
  text-decoration: underline;
  color: var(--blue);
  font-weight: 600;
}
.content_image{
  width: 100%;
  height: auto;
}
.step_image{
  display: block;
  margin: auto;
  width: 50%;
  border-radius: 5px;
}
.final_images{
  display:flex;
  width: 30%;
  gap: 30px;
}
blockquote p:before,
blockquote p:after{
  content: none;
}
.about{
  max-width: 99%;
}
