@import "tailwindcss";
@plugin '@tailwindcss/typography';


:root {
  --foreground: #ffffff;
  --blue: #09367a;
  --grayblue: #476293;
  --darkblue: #08295c;
  --gray: #8392ad;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--gray);
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}
main{
  border: 1px solid var(--grayblue);
}
body {
  background: var(--background);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px 10px;
}
nav{
  background: var(--darkblue);
  display: flex;
  justify-content: flex-end;
  align-content: space-around;
  gap:24px;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
  margin-bottom: 48px;
  
}
